.packages
.vs
.idea

**/bin
**/obj

*.user
*.suo
*.xsd

/Build
/Content/extracted_items
/Content/extracted_bodies
/Content/bodies_output.html
/Content/body-strip.py
/Content/items_output.html
/Content/item-strip.py
/Content/parse-bodies-externalV2.py
/Content/parse-items-externalV2.py
/Content/Sprites


nuget.config

*.zip
.DS_Store
